mainMenuImg RCDATA "icons\\appIcon\\kawasakiIcon.png"
servoDamper RCDATA "icons\\servo control\\damper.jpg"
servoGearPump RCDATA "icons\\servo control\\gearPump.jpg"
servoGun RCDATA "icons\\servo control\\gun.jpg"
servoMotor RCDATA "icons\\servo control\\motor.jpg"
servoPipe1 RCDATA "icons\\servo control\\pipe1.jpg"
servoPipe2 RCDATA "icons\\servo control\\pipe2.jpg"
servoPipe3 RCDATA "icons\\servo control\\pipe3.jpg"
servoPump RCDATA "icons\\servo control\\pump.jpg"
servoValve1 RCDATA "icons\\servo control\\valve1.jpg"
servoValve2 RCDATA "icons\\servo control\\valve2.jpg"
servoValve3 RCDATA "icons\\servo control\\valve3.jpg"
originalPatterns RCDATA "tiles\\manager\\defaultPattern.xml"
